.form-group {
    margin-top: 10px;
    position: relative;
}

.form-input {

    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    color: black;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

.form-label-alt {
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.helper-text{
    color: gray !important; 
}

.error-text{
    color: red !important; 
}