.pageContainerImage{
    flex-direction: row-reverse;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("https://unsam.edu.ar/prensa/fotos/gr/16.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    z-index: -1;
}   

.blur{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px); 
    height: 100%;
	width: 100%;
    position: fixed;
    z-index: 0;
}

.loginCard{
    z-index: 1;
}
