.subjectSearch{
    
    padding: 2px;
    width: 100%;
    max-width: 375px;
    border-radius: 0 5px 5px 0;
    flex-direction: column;
}

.subjectSearchInput{
    border-color: black !important;
    border-radius: 5px 0 0 5px !important;
}

.subjectSearchButton{
    border-radius: 0px 5px 5px 0px !important;
    font-size: 20px !important;
}
